<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsClockFormat24" value="true" />
    <add key="RefreshTimeInMinutes" value="0.1" />
    <add key="UnitSize" value="100" />
    <add key="IsShipClientWaitingVisible" value="true" />
    <add key="IsShipJobtypeVisible" value="true" />
    <add key="IsShipPdtVisible" value="true" />
    <add key="IsShipReceptionTimeVisible" value="true" />
    <add key="IsShipStatusVisible" value="true" />
    <add key="IsPlanActualHeaderVisible" value="true" />
    <add key="IsPlanActualMerged" value="true" />
    <add key="IsStallNamesVisible" value="true" />
    <add key="IsTechnicientsNamesVisible" value="true" />
    <add key="IsTimeHeaderVisible" value="true" />
  </appSettings>
</configuration>