<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IsClockFormat24" value="true" />
    <add key="RefreshTimeInMinutes" value="0,1" />
    <add key="UnitSize" value="100" />
    <add key="IsShipClientWaitingVisible" value="true" />
    <add key="IsShipJobtypeVisible" value="true" />
    <add key="IsShipPdtVisible" value="true" />
    <add key="IsShipReceptionTimeVisible" value="true" />
    <add key="IsShipStatusVisible" value="true" />
    <add key="IsPlanActualHeaderVisible" value="true" />
    <add key="IsPlanActualMerged" value="false" />
    <add key="IsStallNamesVisible" value="true" />
    <add key="IsTechnicientsNamesVisible" value="true" />
    <add key="IsTimeHeaderVisible" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="IrrLateJobVr" value="#FFFF0000" />
    <add key="IrrLateJobBooked" value="#FFFFFF00" />
    <add key="IrrPlannedTimeExeeded" value="#FFFF0000" />
    <add key="PdtExceededInProgress" value="#FFFF0000" />
    <add key="PdtExceededWaittingForInvoice" value="#FFFF0000" />
  </appSettings>
</configuration>
